<div class="container body-content">
    {{#each articles}}
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <article>
                        <header>
                            <h2>{{this.title}}</h2>
                        </header>

                        <p>{{this.content}}
                        </p>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read
                                more &raquo;</a>
                        </div>

                        <small class="author">
                            {{this.User.fullName}}
                        </small>

                    </article>
                </div>
            </div>
        </div>
    {{/each}}
</div>
</div>
